// Colors
$poseidon:          rgb(92, 147, 184);
$blue:              #0066D2;
$yellow:            #F2B705;
$lightbrown:        #BFA393;
$green:             #1C621B;
$red:               #BD2024;

// Colors
$poseidon:          #2E5169;
$blue:              #0066D2;
$yellow:            #F2B705;
$lightbrown:        #BFA393;
$green:             #1C621B;
$red:               #BD2024;

// Padding
$padding-5:         5px;
$padding-10:        10px;
$padding-15:        15px;
$padding-20:        20px;
$padding-25:        25px;
$padding-30:        30px;

// Margin
$margin-5:          5px;
$margin-10:         10px;
$margin-15:         15px;
$margin-20:         20px;
$margin-25:         25px;
$margin-30:         30px;
$margin-50:         50px;


// utils
$primary:                   $poseidon;
$secondary:                 lighten($primary, 40%);
$app-logo:                  url("../assets/img/DailyTrip-logo.png");
$my-bg-img:                 url("../assets/img/boat-trip-background.png");
$mobile-bg-img:             url("../assets/img/mobile-bg.png");

// Typography
$font-family-sans-serif:   'Playfair Display', serif;

:root {
    --primary: rgb(92, 147, 184);
    --secondary: lighten(rgb(92, 147, 184), 40%);
}
