// Variables
@import '_variables.scss';

// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Bootstrap
@import 'bootstrap/scss/bootstrap';
@import "bootstrap-icons/font/bootstrap-icons.css";



// General styles
* {
  font-family:              $font-family-sans-serif;
}

.main-wrapper {
  color: white;
  width:                    100vw;
  height:                   100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.3)), $my-bg-img;
  
  background-size:          cover;
  background-position:      center;
  background-repeat:        no-repeat;
  display:                  flex;
  flex-direction:           column;
  overflow:                 auto;
  
  @media (max-width: 768px) {

     background:            linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.2)), $mobile-bg-img;

  }
}

main{
  flex-grow: 1;
  // align-content: center;
}

img {
  max-width:                100%;
}

// Utils
.text-primary {
  color:                    $primary;
}

.text-secondary {
  color:                    $secondary;
}

.my-bg-primary {
  background-color:         $primary;
}

.fade-enter-active, .fade-leave-active {
  transition:               opacity 0.5s ease-in-out;
}
.fade-enter-from, .fade-leave-to {
  opacity:                  0;
}

/*
  Enter and leave animations can use different
  durations and timing functions.
*/
.slide-fade-enter-active {
  transition: opacity 0.2s ease;
}

.slide-fade-leave-active {
  transition: 0.4s ease all;
}

.slide-fade-enter-from,
.slide-fade-leave-to {
  transform: translatey(10px);
  opacity: 0;
}

.page-opacity-enter-active,
.page-opacity-leave-active {
  transition: 0.5s ease all;
}
.page-opacity-enter-from,
.page-opacity-leave-to {
  opacity: 0;
}